<%- include("./partial/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 110px;">
            <a role="button" href="/user/me-dashboard" class="float-left btn btn-primary"> Dashboard</a>
            <a role="button" href="/user/add-product" class="stretched-link float-right btn btn-primary"> Add new Product</a>
            <div class="pt-2">
                <h1 class="text-center">
                    Add a New Company
                </h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 mx-auto">
                                <div class="mt-5">
                                    <%= typeof msg != 'undefined' ? msg : ''  %>
                                    <form action="/user/add-company" method="POST" enctype="multipart/form-data">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Company Name</span>
                                            </div>
                                            <input type="text" class="form-control" name='companyName' aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                                            </div>
                                            <textarea type="text" class="form-control" name="companyDesc" aria-label="Default"  rows="5" aria-describedby="inputGroup-sizing-default"></textarea>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <label class="input-group-text" for="exampleFormControlFile1">Company Image</label>
                                            </div>
                                            <input  name="ImageFile" type="file" class="form-control" id="exampleFormControlFile1">
                                        </div>
                                        <div class="form-group pt-1">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <button class="btn btn-primary btn-block float-right" type="submit">Delete Company</button>
                                                </div> -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive" style="max-height: 550px; overflow:scroll">
        <table class="table table-striped" >
            <thead class="thead-inverse">
                <tr>
                    <th>Company Name</th>
                    <th>Description of Company</th>
                    <th>Image Url</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(i=0;i< companyList.length;i++){ %>
                    <tr>
                        <td><%= companyList[i].companyName %></td>
                        <td><%= companyList[i].companyDescription %></td>
                        
                        <td><img src="<%= companyList[i].companyImage %>" alt="<%= companyList[i].companyName %>" style="width: 100%;"></td>
                        <td>
                            <a role="button"  href = '/user/update-company/<%= companyList[i].id %>'class="btn btn-primary btn-block">Edit</a>
                            <a role="button" class="btn btn-danger btn-block delete-company" data-id="<%= companyList[i].id %>" data-name="<%= companyList[i].companyName %>" data-toggle="modal" data-target="#exampleModal">Delete</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p id="context">...</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="#" id="delete-link" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div> 
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/accordions.js"></script>
<script src="/js/addtocart.js"></script>
<script>
    $(".delete-company").on('click',function(){
        let id = $(this).data('id')
        let name = $(this).data('name');
        $('#context').html(`Are you sure you want to delete ${name}.!!`);
        let a = document.getElementById('delete-link');
        href = `/user/delete-company/${id}`
        a.setAttribute('href',href)
    })
</script>