<%- include("./partial/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 110px;">
            <a role="button" href="/user/me-dashboard" class="float-left btn btn-primary"> Dashboard</a>
            <a role="button" href="/user/add-product" class="stretched-link float-right btn btn-primary"> Add new Product</a>
            <div class="pt-2">
                <h1 class="text-center">
                    Add a Product Variant
                </h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 mx-auto">
                                <div class="mt-5">
                                    <%= typeof msg != 'undefined' ? msg : ''  %>
                                    <form action="/user/add-product-variant" method="POST">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Product Name</span>
                                            </div>
                                            <select id="company" name="PName" class="form-control" required>
                                                <option value="0">Select the company</option>
                                                <% for(i=0;i< finalCall.productName.length;i++){ %>
                                                <option value="<%= finalCall.productName[i].product_id %>"><%= finalCall.productName[i].product_name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Product Size</span>
                                            </div>
                                            <input type="text" class="form-control" name='PSize' aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Product Weight (g)</span>
                                            </div>
                                            <input type="text" class="form-control" name="PWeight" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Product Price</span>
                                            </div>
                                            <input type="text" class="form-control" name="PPrice" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Product Uniquie ID</span>
                                            </div>
                                            <input type="text" class="form-control" name="PUQID" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                                        </div>
                                        <div class="form-group pt-1">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary btn-block" type="submit">Add Product Variant</button>
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <button class="btn btn-primary btn-block float-right" type="submit">Delete Company</button>
                                                </div> -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive" style="max-height: 550px; overflow:scroll">
        <table class="table table-striped" >
            <thead class="thead-inverse">
                <tr>
                    <th>Product Name</th>
                    <th>Product Size</th>
                    <th>Price</th>
                    <th>Product Weight</th>
                    <th>Uniquie ID</th>
                </tr>
            </thead>
            <tbody>
                <% for(i=0;i< finalCall.productList.length;i++){ %>
                    <tr>
                        <td><%= finalCall.productList[i].product_name %></td>
                        <td><%= finalCall.productList[i].product_size %></td>
                        <td><%= finalCall.productList[i].product_price %></td>
                        <td><%= finalCall.productList[i].product_weight_gram %></td>
                        <td><%= finalCall.productList[i].product_unquie_id %></td>
                        <td>
                            <a role="button"  href = '/user/update-product-variant/<%= finalCall.productList[i].product_name %>/<%= finalCall.productList[i].product_pkg_id %>'class="btn btn-primary btn-block">Edit</a>
                            <a role="button" class="btn btn-danger btn-block delete-product-variant"  data-name="<%= finalCall.productList[i].product_name %>" data-id="<%= finalCall.productList[i].product_pkg_id %>" data-toggle="modal" data-target="#exampleModal">Delete</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
</div>  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p id="context">...</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="#" id="delete-link" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div> 

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/datalist.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/accordions.js"></script>
<script src="/js/addtocart.js"></script>
<script>
    $(".delete-product-variant").on('click',function(){
        let id = $(this).data('id')
        let name = $(this).data('name');
        $('#context').html(`Are you sure you want to delete ${name}.!!`);
        let a = document.getElementById('delete-link');
        href = `/user/delete-product-variant/${id}`
        a.setAttribute('href',href)
    })
</script>